<%- include('partials/header.ejs') %>
    <!-- content -->
    <main class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-title">
                  <div class="d-flex align-items-center">
                    <h2 class="mb-0">404 error</h2>
                    <div class="ml-auto">
                      <a href="/add-contact" class="btn btn-success"><i class="fa fa-plus-circle"></i> Add New</a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                <% if(messege) {%>
                  <h1><%= messege %></h1>
                <% }else {%>
                            <h1>Page not found</h1>
                            <% } %>
                </div>
            </div>
          </div>
        </div>
      </div>
    </main>

<%- include('partials/footer.ejs') %>
  